<?xml version="1.0"?>
<launch>
    <arg name="paused"       default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui"          default="true" />
	<arg name="headless"     default="false" />
	<arg name="debug"        default="false" />
    <arg name="worldname"    default="lab"/>

    <include file="$(find p3dx_gazebo)/launch/gazebo.launch" >
		<arg name="debug"        value="$(arg debug)" />
		<arg name="gui"          value="$(arg gui)" />
		<arg name="paused"       value="$(arg paused)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
		<arg name="headless"     value="$(arg headless)" />
        <arg name="worldname"   value="$(find corajebot_gazebo)/worlds/$(arg worldname).world"/>    
    </include>

	<include file="$(find corajebot_slam)/launch/navigation/navigation.launch"/>

	
</launch>