<?xml version="1.0"?>
<launch>
    <!-- <node name="map_server" pkg="map_server" type="map_server" output="screen"/> -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <remap from="/scan" to="/p3dx/laser/scan" />
        <rosparam command="load" file="$(find corajebot_slam)/params/mapping/gmapping.yaml" />  
    </node>
</launch>